.Projets__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
}
.projet-content {
  width: 60%;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  align-self: center;
  padding: 20px;
  box-shadow: 4px 6px 11px 0px;
}

.projet-img {
  width: 100%;
  margin-top: 20px;
}
.projet__lien {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
}

.projet__lien:hover {
    color: rgb(197, 24, 24);
    text-decoration: underline;
}
.logo {
    width: 30px;
    padding-top: 10px;
}

