h1 {
  text-align: center;
  color: #fff;
  font-family: Lobster, sans-serif;
  font-size: 20px;
  margin: 0;
  top: 25rem;
  letter-spacing: 5px;
  width: 100%;
}

h2 {
  padding: 20px;
  font-size: 30px;
  font-family: "lato", sans-serif;
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  padding: 0.5rem;
  border-radius: 10px;
}

.date {
  font-size: 16px;
  opacity: 0.7;
  padding: 10px;
}

.text {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 1rem;
  line-height: 1.6rem;
  text-align: center;
}

.learn {
  background: transparent;
  margin: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px;
  font-weight: 500;
  transition: all 0.4s ease-in;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.learn:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Premiere Section */

.img1 {
  background: url(./img/parallaxe1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titre__box1 {
  position: relative;
}

.titre__box1::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  background: url(./img/photo-eduardo.png) no-repeat;
  background-size: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -86%);
}

.WCD {
  text-decoration: none;
  color: #f76c6c;
  font-weight: 700;
}

.WCD:hover {
  text-decoration: underline;
}

/* Deuxieme section */

.img2 {
  background: url(./img/parallaxe2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.container__logo {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  padding: 5px 15px;
}
.logoJs {
  padding-top: 20px;
  height: 20vh;
  display: block;
  margin: auto;
  position: relative;
}
.logo {
  margin: auto;
  opacity: 1;
  width: 100%;
  align-self: center;
  position: relative;
}
.logoHtml {
  top: -950px;
}
.logoCss {
  top: -990px;
}
.logoReact {
  top: -750px;
}
.logoNode {
  top: -750px;
}
.logoPhaser {
  top: -950px;
}
.logoSql {
  top: -950px;
}
.logoText {
  width: 85%;
  grid-column: 2 / 5;
  grid-row: 1 / 4;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.4rem;
  text-align: center;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 10px;
}
.learnGrid {
  margin-bottom: 20px;
  background: transparent;
  color: #fff;
  border: 2px solid rgba(151, 28, 28, 0.8);
  padding: 10px;
  transition: all 0.4s ease-in;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
  grid-column: 2 / 5;
  grid-row: 4 / 5;
  cursor: pointer;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.learnGrid:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Troisieme section */

.img3 {
  background: url(./img/parallaxe3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Animation */

.box1 {
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: all 0.4s linear;
}

.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}

@media (min-width: 570px) { 
  .logo {
    
    width: 80%;
    
  }
}

@media (min-width: 715px) { 
  .logo {
    
    width: 70%;
    
  }
}

@media (min-width: 800px) { 
  .logo {
    
    width: 60%;
    
  }
}

@media (min-width: 935px) { 
  .logo {
    
    width: 50%;
    
  }
}
@media (min-width: 1100px) { 
  .logo {
    
    width: 35%;
    
  }
}
