h1 {
  text-align: center;
  color: #fff;
  font-family: Lobster, sans-serif;
  font-size: 20px;
  margin: 0;
  top: 25rem;
  letter-spacing: 5px;
  width: 100%;
}

/* Section */

.img1 {
  background: url(./img/parallaxe1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titre__box1{
  position: relative;
}

.titre__box1::before {
  content: "";
  position: absolute;
  width: 15rem;
  height: 15rem;
  background: url(./img/photo-eduardo.png) no-repeat;
  background-size: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -86%);
}

.WCD {
  text-decoration: none;
  color: #F76C6C;
  font-weight: 700;
}

.WCD:hover {
  text-decoration: underline;
}


.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  padding: 0.5rem;
}

h2 {
  padding: 20px;
  font-size: 30px;
  font-family: "lato", sans-serif;
}

.date {
  font-size: 16px;
  opacity: 0.7;
  padding: 10px;
}

.text {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0 1rem;
  line-height: 1.6rem;
  text-align: center;
}

.learn {
  background: transparent;
  margin: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px;
  font-weight: 500;
  transition: all 0.4s ease-in;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.learn:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Deuxieme section */

.img2 {
  background: url(./img/parallaxe2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Troisieme section */

.img3 {
  background: url(./img/parallaxe3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo{
  width: 100px;
}

/* Animation */

.box1 {
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}
