h1 {
  text-align: center;
  color: #fff;
  font-family: Lobster, sans-serif;
  font-size: 20px;
  margin: 0;
  position: relative;
  top: 25rem;
  letter-spacing: 5px;
  width: 100%;
}

/* Section */

.img1 {
  background: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-weight: 100;
  padding: 0.5rem;
}

h2 {
  padding: 5px;
  font-size: 20px;
  font-family: "lato", sans-serif;
}

.date {
  font-size: 16px;
  opacity: 0.7;
  padding: 10px;
}

.text {
  font-size: 9px;
  letter-spacing: 2px;
  margin: 0 3rem;
  line-height: 1rem;
  text-align: center;
}

.learn {
  background: transparent;
  margin: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px;
  font-weight: 500;
  transition: all 0.4s ease-in;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.learn:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Deuxieme section */

.img2 {
  background: url("https://images.pexels.com/photos/314703/pexels-photo-314703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Troisieme section */

.img3 {
  background: url("https://images.pexels.com/photos/1183986/pexels-photo-1183986.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Animation */

.box1 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}
