.constainer-caroussel {
  position: relative;
}
.slide__img {
  height: 100vh;
  width: 50%;
  object-fit: cover;
  
}
.slide-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background-position: bottom;
}
.carousel .slide img {
  width: 67%;
  vertical-align: top;
  border: 0;
  border-radius: 0% 0% 0% 85%;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background-color: transparent;
}

.selected {
  z-index: 1000;
}

.legend-slide {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 20%;
  left: 5%;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  padding: 20px;
  letter-spacing: 4px;
  cursor: pointer;
  background-color: white;
  line-height: 1.9rem;
}
.slide__lien {
  position: absolute;
  top: 90%;
  left: 5%;
  color: rgb(235, 11, 11);
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 700;
}

.slide__lien:hover {
  text-decoration: underline;
}

.legend-slide span {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-size: 1.7rem;
  text-decoration: underline red;
}
